/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

/* Main Menu */

ul#main-menu {
	font-family: 'Lato', sans-serif;
	font-family: 13px;
	font-weight: 300;
	list-style: none;
	position: absolute;
	cursor: pointer;
}

ul#main-menu > ul {
	list-style: none;
	opacity: 0;
}

ul#main-menu li {
	background: #30A8E6;
	padding: 15px 50px 15px 10px;
	border-bottom: 1px solid #fff;
}

ul#main-menu li:hover {
	background: #30A8E6;
	opacity: 0.4

}

ul#main-menu li:first-child {
	border-radius: 0 5px 0 0;
}

ul#main-menu li a {
	color: #fff;
	text-decoration: none;
}

ul#main-menu i {
	padding-right: 15px;
	padding-left: 5px;
}

/* Submenu */

#submenu {
	color: #fff;
	position: absolute;
	width: 120px;
	left: 202px;
	margin-top: -50px;
}

ul#submenu > li {
	padding: 10px;
}

ul#main-menu ul#submenu.show-submenu {
	opacity: 1;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

ul#main-menu ul#submenu.hide-submenu {
	cursor: pointer;
	display: none;
}

.user_info{
	border:1px solid;
	height: 60px;
	background-color: #fff;
	
}
.assigment {
	/* Assigment name: */
	font-family: HelveticaNeue;
	font-size: 14px;
	color: #C8C8C8;
	letter-spacing: 0;
}
.data {
	/* Osakekauppariita: */
	padding-top: 15px;
	font-family: HelveticaNeue;
	font-size: 16px;
	color: #000000;
	letter-spacing: 0;
}

.body {
	background-color: #f9f9fb;
}