<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>LegalEngine</title>
        <style>
            .pos {vertical-align: sub; color: blue; font-size: 70%;}
            .result {font-size: 24px;}
            .notbold {font-weight: normal;}​
        </style>
    </head>

    <body>
        <form method='post'>

            <center>
                <table>
                    <tr>

                        <td align=center style="vertical-align: top; width: 30%; border-right: 1px solid #000; margin-right: 20px; padding-top: 150px;">
                            <h1>Welcome to LegalEngine</h1>

                            Lawyers:
                            {% if authors %}
                                <select name="select_authors">
                                    {% for author in authors %}
                                        <option value="{{ author }}">{{ author }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}

                            <br>

                            Cases:
                            {% if cases %}
                                <select name="select_cases">
                                    {% for case in cases %}
                                        <option value="{{ case }}">{{ case }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}

                            <br>

                            <textarea rows="1" cols="20" name="query" style="resize: none; font-size: 18px;">{{ query }}</textarea>
                            <input type="submit" value="Search" style="width: 7em;  height: 3em; background: #67d5f7">
                        </td>

                        <td align=center style="vertical-align: top; width: 30%; border-right: 1px solid #000; margin-right: 20px; padding-top: 150px;">

                            {% if info %}
                                <h3>Info about selected Court Case</h3>
                                Principal: {{ info['Principal'] }}
                            {% endif %}

                            {% if transactions %}
                                <table>
                                    {% for transaction in transactions %}
                                    <tr>
                                        <td>
                                            <h4>{{ loop.index }}. {{ transaction.Transaction }}</h4>
                                            Date: {{ transaction['Entry Date'] }}

                                            <br>

                                            Paid: {{ transaction.Paid }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}

                        </td>

                        <td align=center style="vertical-align: top; width: 30%; padding-top: 150px;">
                            <h4>Total for transactions: <span class='notbold'>{{ total_for_transactions }}</span></h4>
                        </td>

                    </tr>
                </table>
            </center>

        </form>
    </body>
</html>
