<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>LegalEngine</title>
        <style>
            .pos {vertical-align: sub; color: blue; font-size: 70%;}
            .result {font-size: 24px;}
            .notbold {font-weight: normal;}​
        </style>
    </head>

    <body>
        <form method='post'>

            <center>
                <table>
                    <tr>
                        <td align=center style="vertical-align: top; width: 200px; border-right: 1px solid #000; margin-right: 20px; padding-top: 150px;">
                            <h1>Welcome to LegalEngine</h1>
                            <textarea rows="1" cols="20" name="query" style="resize: none; font-size: 18px;">{{ query }}</textarea>
                            <input type="submit" value="Search" style="width: 7em;  height: 3em; background: #67d5f7">
                        </td>
                        <td>
                            {% if entries %}
                                <table>
                                    {% for score, title, url, content in entries %}
                                    <tr>
                                        <td>
                                            <h4><a href="{{ url }}">{{ title }}</a><span class='notbold'> - [{{ score }}]</span></h4>
                                            {{ content }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </center>

        </form>
    </body>
</html>
